.ss-header {
  width: 100%;
}

.ss-dashboard-header {
  font-size: 16px;
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(space-between);
  @include align-items(center);
  @include padding(1.5em 2.5em 0);
}

.nps-header {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 10px rgba($ss-color--content, 0.1);
  background-color: $ss-color--white;

  @include padding(1em 2em);
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(flex-start);
  @include align-items(center);


  .nps-header__floating-center-nav {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 100%;

    div.grid {
      height: 100%;
    }

  }

  a.active {
    color: rgba($ss-color--content, 1);
    opacity: 1;
    height: 100%;

    &:hover,
    &:active,
    &:focus {
      color: rgba($ss-color--content, 1);
    }
  }

  a {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    height: 100%;
    color: $ss-color--light-grey;
    font-weight: $font-weight-semibold;
    transition: $ss-default-transition;
    position: relative;
    letter-spacing: 0.5px;
    cursor: pointer;
    @include padding(24px);

    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);


    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      color: $ss-color--light-grey;
    }
  }
}
