.ss-right-panel-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($ss-color--black, 0.4);
  z-index: 1;

  .ss-right-panel-container {
    position: absolute;
    right: 0;
    top: 0;
    width: 35vw;
    height: calc(100vh - #{$right-panel-footer-height});
    background-color: $ss-color--white;
    z-index: 2;
    animation: slideInRight 0.4s both;

    @include viewport(mob) {
      width: 100vw;
    }

    &.ss-right-panel-container--no-footer {
      height: 100vh;
  
      .ss-right-panel {
        height: 100vh;

        .ss-right-panel-contents {
          height: calc(100vh - #{$right-panel-header-height}); //Header and Footer Height
        }
      }
    }

    &.ss-right-panel-container--secondary {
      animation: none;
    }

    .ss-right-panel {
      height: calc(100vh - #{$right-panel-footer-height});
      @include padding(0 0 24px);

      .ss-right-panel-header {
        @include padding(24px);

        .ss-button__text {
          float: right;
        }
      }

      .ss-right-panel-contents {
        width: 100%;
        height: calc(100vh - #{$right-panel-header-height} - #{$right-panel-footer-height}); //Header and Footer Height
        overflow: auto;
      }

      .ss-right-panel-loader {
        height: calc(100vh - #{$right-panel-header-height} - #{$right-panel-footer-height}); //Header and Footer Height
        .ss-button--loader__dots {
          @include loader__dots--dark;
        }
      }

      .ss-right-panel-list {
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(flex-start);
        width: 100%;

        .ss-right-panel-list-item {
          width: 100%;
          @include flexbox();
          @include flex-direction(row);
          @include justify-content(flex-start);
          @include align-items(center);
          @include padding(8px 0);
          border-bottom: 1px solid $ss-color--border;

          h6,
          p {
            @include ss-content-text;
            font-size: 14px;
          }

          p {
            opacity: 0.5;
          }

          .ss-right-panel-list-item--right {
            float: right;
            @include flex_row;
            @include padding(0 0 0 8px);
            @include margin(0 0 0 auto);
          }
        }
      }
    }


    .ss-right-panel-footer {
      position: relative;
      background-color: $ss-color--white;
      height: 70px;
      box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);
      @include padding(12px 24px);
      @include flex_row;

      .ss-action-buttons {
        width: 100%;
      }
    }
  }
}

.ss-right-panel-wrapper.ss-right-panel-wrapper--closing {
  animation: fadeOut 0.3s both;
  animation-delay: 0.4s;

  .ss-right-panel-container {
    animation: slideOutRight 0.4s both;
  }
}
