.ss-switch-row.no-border {
  border-bottom: transparent;
}

.ss-switch-row {
  border-bottom: thin solid $ss-color--env;
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(space-between);
  @include align-items(center);
  @include padding(16px 0);
}