//Reset
@mixin mx--zero {
    @include margin(0);
}

@mixin mt--zero {
    @include margin(0 null null null);
}

@mixin mb--zero {
    @include margin(null null 0 null);
}

@mixin ml--zero {
    @include margin(null null null 0);
}

@mixin mr--zero {
    @include margin(null 0 null null);
}

@mixin mtb--zero {
    @include margin(0 null);
}

@mixin mlr--zero {
    @include margin(null 0);
}

@mixin px--zero {
    @include padding(0 null);
}

@mixin pt--zero {
    @include padding(0 null null null);
}

@mixin pb--zero {
    @include padding(null null 0 null);
}

@mixin pr--zero {
    @include padding(null 0 null null);
}

@mixin pl--zero {
    @include padding(0 null null 0);
}

@mixin ptb--zero {
    @include padding(0 null);
}

@mixin plr--zero {
    @include padding(null 0);
}

// Margin Top & Bottom
@mixin mtb--xs {
    @include margin(4px 0);
}

@mixin mtb--sm {
    @include margin(8px 0);
}

@mixin mtb--md {
    @include margin(12px 0);
}

@mixin mtb--lg {
    @include margin(16px 0);
}

@mixin mtb--xl {
    @include margin(20px 0);
}


// Margin Left & Right
@mixin mlr--xs {
    @include margin(0 4px);
}

@mixin mlr--sm {
    @include margin(0 8px);
}

@mixin mlr--md {
    @include margin(0 12px);
}

@mixin mlr--lg {
    @include margin(0 16px);
}

@mixin mlr--xl {
    @include margin(0 20px);
}



// Margin Left

@mixin ml--xs {
    @include margin(0 0 0 4px);
}

@mixin ml--sm {
    @include margin(0 0 0 8px);
}

@mixin ml--md {
    @include margin(0 0 0 12px);
}

@mixin ml--lg {
    @include margin(0 0 0 16px);
}

@mixin ml--xl {
    @include margin(0 0 0 20px);
}



// Margin Right
@mixin mr--xs {
    @include margin(0 4px 0 0);
}

@mixin mr--sm {
    @include margin(0 8px 0 0);
}

@mixin mr--md {
    @include margin(0 12px 0 0);
}

@mixin mr--lg {
    @include margin(0 16px 0 0);
}

@mixin mr--xl {
    @include margin(0 20px 0 0);
}



// Margin Bottom

@mixin mb--xs {
    @include margin(null null 4px null);
}

@mixin mb--sm {
    @include margin(null null 8px null);
}

@mixin mb--md {
    @include margin(null null 12px null);
}

@mixin mb--lg {
    @include margin(null null 16px null);
}

@mixin mb--xl {
    @include margin(null null 20px 0);
}

// Margin Top

@mixin mt--xs {
    @include margin(4px null null null);
}

@mixin mt--sm {
    @include margin(8px null null null);
}

@mixin mt--md {
    @include margin(12px null null null);
}

@mixin mt--lg {
    @include margin(16px null null null);
}

@mixin mt--xl {
    @include margin(20px null null null);
}


//Padding
// Padding Top & Bottom
@mixin ptb--xs {
    @include padding(4px 0);
}

@mixin ptb--sm {
    @include padding(8px 0);
}

@mixin ptb--md {
    @include padding(12px 0);
}

@mixin ptb--lg {
    @include padding(16px 0);
}

@mixin ptb--xl {
    @include padding(20px 0);
}


// Padding Left & Right
@mixin plr--xs {
    @include padding(0 4px);
}

@mixin plr--sm {
    @include padding(0 8px);
}

@mixin plr--md {
    @include padding(0 12px);
}

@mixin plr--lg {
    @include padding(0 16px);
}

@mixin plr--xl {
    @include padding(0 20px);
}



// Padding Left

@mixin pl--xs {
    @include padding(0 0 0 4px);
}

@mixin pl--sm {
    @include padding(0 0 0 8px);
}

@mixin pl--md {
    @include padding(0 0 0 12px);
}

@mixin pl--lg {
    @include padding(0 0 0 16px);
}

@mixin pl--xl {
    @include padding(0 0 0 20px);
}



// Padding Right
@mixin pr--xs {
    @include padding(0 4px 0 0);
}

@mixin pr--sm {
    @include padding(0 8px 0 0);
}

@mixin pr--md {
    @include padding(0 12px 0 0);
}

@mixin pr--lg {
    @include padding(0 16px 0 0);
}

@mixin pr--xl {
    @include padding(0 20px 0 0);
}



// Padding Bottom

@mixin pb--xs {
    @include padding(null null 4px null);
}

@mixin pb--sm {
    @include padding(null null 8px null);
}

@mixin pb--md {
    @include padding(null null 12px null);
}

@mixin pb--lg {
    @include padding(null null 16px null);
}

@mixin pb--xl {
    @include padding(null null 20px 0);
}

// Padding Top

@mixin pt--xs {
    @include padding(4px null null null);
}

@mixin pt--sm {
    @include padding(8px null null null);
}

@mixin pt--md {
    @include padding(12px null null null);
}

@mixin pt--lg {
    @include padding(16px null null null);
}

@mixin pt--xl {
    @include padding(20px null null null);
}

// Classes

//Reset
.mx--zero {
    @include mx--zero;
}

.mtb--zero {
    @include mtb--zero;
}

.mlr--zero {
    @include mlr--zero;
}

.mt--zero {
    @include mt--zero;
}

.mb--zero {
    @include mb--zero;
}

.ml--zero {
    @include ml--zero;
}

.mr--zero {
    @include mr--zero;
}

//Margin All
.mx--xs {
    @include margin(4px);
}

.mx--sm {
    @include margin(8px);
}

.mx--md {
    @include margin(12px);
}

.mx--lg {
    @include margin(16px);
}

.mx--xl {
    @include margin(20px);
}

// Margin Top & Bottom
.mtb--xs {
    @include mtb--xs;
}

.mtb--sm {
    @include mtb--sm;
}

.mtb--md {
    @include mtb--md;
}

.mtb--lg {
    @include mtb--lg;
}

.mtb--xl {
    @include mtb--xl;
}


// Margin Left & Right
.mlr--xs {
    @include mlr--xs;
}

.mlr--sm {
    @include mlr--sm;
}

.mlr--md {
    @include mlr--md;
}

.mlr--lg {
    @include mlr--lg;
}

.mlr--xl {
    @include mlr--xl;
}



// Margin Left

.ml--xs {
    @include ml--xs;
}

.ml--sm {
    @include ml--sm;
}

.ml--md {
    @include ml--md;
}

.ml--lg {
    @include ml--lg;
}

.ml--xl {
    @include ml--xl;
}



// Margin Right
.mr--xs {
    @include mr--xs;
}

.mr--sm {
    @include mr--sm;
}

.mr--md {
    @include mr--md;
}

.mr--lg {
    @include mr--lg;
}

.mr--xl {
    @include mr--xl;
}



// Margin Bottom

.mb--xs {
    @include mb--xs;
}

.mb--sm {
    @include mb--sm;
}

.mb--md {
    @include mb--md;
}

.mb--lg {
    @include mb--lg;
}

.mb--xl {
    @include mb--xl;
}

// Margin Top

.mt--xs {
    @include mt--xs;
}

.mt--sm {
    @include mt--sm;
}

.mt--md {
    @include mt--md;
}

.mt--lg {
    @include mt--lg;
}

.mt--xl {
    @include mt--xl;
}

//Padding

//Reset
.px--zero {
    @include px--zero;
}

.pt--zero {
    @include pt--zero;
}

.pb--zero {
    @include pb--zero;
}

.pr--zero {
    @include pr--zero;
}

.pl--zero {
    @include pl--zero;
}

.ptb--zero {
    @include ptb--zero;
}

.plr--zero {
    @include plr--zero;
}

//Padding All
.px--xs {
    @include padding(4px);
}

.px--sm {
    @include padding(8px);
}

.px--md {
    @include padding(12px);
}

.px--lg {
    @include padding(16px);
}

.px--xl {
    @include padding(20px);
}


// Padding Top & Bottom
.ptb--xs {
    @include ptb--xs;
}

.ptb--sm {
    @include ptb--sm;
}

.ptb--md {
    @include ptb--md;
}

.ptb--lg {
    @include ptb--lg;
}

.ptb--xl {
    @include ptb--xl;
}


// Padding Left & Right
.plr--xs {
    @include plr--xs;
}

.plr--sm {
    @include plr--sm;
}

.plr--md {
    @include plr--md;
}

.plr--lg {
    @include plr--lg;
}

.plr--xl {
    @include plr--xl;
}



// Padding Left

.pl--xs {
    @include pl--xs;
}

.pl--sm {
    @include pl--sm;
}

.pl--md {
    @include pl--md;
}

.pl--lg {
    @include pl--lg;
}

.pl--xl {
    @include pl--xl;
}



// Padding Right
.pr--xs {
    @include pr--sm;
}

.pr--sm {
    @include pr--sm;
}

.pr--md {
    @include pr--sm;
}

.pr--lg {
    @include pr--sm;
}

.pr--xl {
    @include pr--sm;
}



// Padding Bottom
.pb--xs {
    @include pb--xs;
}

.pb--sm {
    @include pb--sm;
}

.pb--md {
    @include pb--md;
}

.pb--lg {
    @include pb--lg;
}

.pb--xl {
    @include pb--xl;
}

// Padding Top

.pt--xs {
    @include pt--xs;
}

.pt--sm {
    @include pt--sm;
}

.pt--md {
    @include pt--md;
}

.pt--lg {
    @include pt--lg;
}

.pt--xl {
    @include pt--xl;
}