//Padding

//All
.wp--xs {
    @include padding(16px);
}
.wp--sm {
    @include padding(24px);
}
.wp--md {
    @include padding(32px);
}
.wp--lg {
    @include padding(48px);
}
.wp--xl {
    @include padding(64px);
}


//Top & Bottom
.wptb--xs {
    @include padding(16px 0);
}
.wptb--sm {
    @include padding(24px 0);
}
.wptb--md {
    @include padding(32px 0);
}
.wptb--lg {
    @include padding(48px 0);
}
.wptb--xl {
    @include padding(64px 0);
}

// Left & Right

.wplr--xs {
    @include padding(0 16px);
}
.wplr--sm {
    @include padding(0 24px);
}
.wplr--md {
    @include padding(0 32px);
}
.wplr--lg {
    @include padding(0 48px);
}
.wplr--xl {
    @include padding(0 64px);
}

//Top
.wpt--xs {
    @include padding(16px 0 0 0);
}
.wpt--sm {
    @include padding(24px 0 0 0);
}
.wpt--md {
    @include padding(32px 0 0 0);
}
.wpt--lg {
    @include padding(48px 0 0 0);
}
.wpt--xl {
    @include padding(64px 0 0 0);
}

//Bottom
.wpb--xs {
    @include padding(0 0 16px 0);
}
.wpb--sm {
    @include padding(0 0 24px 0);
}
.wpb--md {
    @include padding(0 0 32px 0);
}
.wpb--lg {
    @include padding(0 0 48px 0);
}
.wpb--xl {
    @include padding(0 0 64px 0);
}

//Left
.wpl--xs {
    @include padding(0 0 0 16px);
}
.wpl--sm {
    @include padding(0 0 0 24px);
}
.wpl--md {
    @include padding(0 0 0 32px);
}
.wpl--lg {
    @include padding(0 0 0 48px);
}
.wpl--xl {
    @include padding(0 0 0 64px);
}

//Right
.wpr--xs {
    @include padding(0 16px 0 0);
}
.wpr--sm {
    @include padding(0 24px 0 0);
}
.wpr--md {
    @include padding(0 32px 0 0);
}
.wpr--lg {
    @include padding(0 48px 0 0);
}
.wpr--xl {
    @include padding(0 64px 0 0);
}


// Margin

//All
.wm--xs {
    @include margin(16px);
}
.wm--sm {
    @include margin(24px);
}
.wm--md {
    @include margin(32px);
}
.wm--lg {
    @include margin(48px);
}
.wm--xl {
    @include margin(64px);
}


//Top & Bottom
.wmtb--xs {
    @include margin(16px 0);
}
.wmtb--sm {
    @include margin(24px 0);
}
.wmtb--md {
    @include margin(32px 0);
}
.wmtb--lg {
    @include margin(48px 0);
}
.wmtb--xl {
    @include margin(64px 0);
}

// Left & Right

.wmlr--xs {
    @include margin(0 16px);
}
.wmlr--sm {
    @include margin(0 24px);
}
.wmlr--md {
    @include margin(0 32px);
}
.wmlr--lg {
    @include margin(0 48px);
}
.wmlr--xl {
    @include margin(0 64px);
}

//Top
.wmt--xs {
    @include margin(16px 0 0 0);
}
.wmt--sm {
    @include margin(24px 0 0 0);
}
.wmt--md {
    @include margin(32px 0 0 0);
}
.wmt--lg {
    @include margin(48px 0 0 0);
}
.wmt--xl {
    @include margin(64px 0 0 0);
}

//Bottom
.wmb--xs {
    @include margin(0 0 16px 0);
}
.wmb--sm {
    @include margin(0 0 24px 0);
}
.wmb--md {
    @include margin(0 0 32px 0);
}
.wmb--lg {
    @include margin(0 0 48px 0);
}
.wmb--xl {
    @include margin(0 0 64px 0);
}

//Left
.wml--xs {
    @include margin(0 0 0 16px);
}
.wml--sm {
    @include margin(0 0 0 24px);
}
.wml--md {
    @include margin(0 0 0 32px);
}
.wml--lg {
    @include margin(0 0 0 48px);
}
.wml--xl {
    @include margin(0 0 0 64px);
}

//Right
.wmr--xs {
    @include margin(0 16px 0 0);
}
.wmr--sm {
    @include margin(0 24px 0 0);
}
.wmr--md {
    @include margin(0 32px 0 0);
}
.wmr--lg {
    @include margin(0 48px 0 0);
}
.wmr--xl {
    @include margin(0 64px 0 0);
}
