.ss-button.disabled {
  pointer-events: none !important;
  opacity: 0.5 !important;
}

.ss-button.ss-button--full-width {
  width: 100%;
  @include justify-content(center);
}

.ss-button.ss-button__mini {
  @include padding(0.3em 0.5em);
  @include ss-text__size--micro;
  text-transform: none;
}

.ss-button {
  @include inline-flex();
  @include flex-direction(row);
  @include justify-content(space-between);
  @include align-items(center);
  @include padding(0.7em 1.2em);
  @include margin(0 0.2em);
  @include ss-text__size--h4;
  @include ss-text__weight--semibold;
  line-height: 1.4;
  transition: $ss-default-transition;
  border-radius: $border-radius-sm;
  text-transform: none;
  position: relative;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  cursor: pointer;

  svg {
    vertical-align: middle;
    transition: $ss-default-transition;
    opacity: 0.8;
    line-height: inherit;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;

    svg {
      opacity: 1;
    }
  }


}

.ss-button__icon-only {
  @include padding(0.1em);
  @include margin(0 0.2em);
  @include ss-text__weight--bold;
  cursor: pointer;
  display: inline-block;
  transition: $ss-default-transition;
  opacity: 0.8;
  background-color: transparent;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    opacity: 1;
  }

  .ss-button--loader {
    display: none;
  }
}

.ss-button.ss-button__primary,
.ss-button.ss-button__pri {
  @include ss-text__color--light;
  background-color: $ss-color--orange;
  border: thin solid $ss-color--orange;

  &:hover,
  &:active,
  &:focus {
    @include ss-text__color--light;
    border: thin solid lighten($ss-color--orange, 5%);
    background-color: lighten($ss-color--orange, 5%);
  }
}

.ss-button.ss-button__secondary,
.ss-button.ss-button__sec {
  @include ss-text__color--dark;
  border: thin solid $ss-color--swing;
  background-color: $ss-color--white;

  &:hover,
  &:active,
  &:focus {
    @include ss-text__color--dark;
    background-color: $ss-color--env;
  }

  .ss-button--loader {

    &.ss-button--loader__bar {
      background-image:
        repeating-linear-gradient(-45deg,
          $ss-color--env,
          $ss-color--env 11px,
          lighten($ss-color--env, 10%) 10px,
          lighten($ss-color--env, 10%) 20px);
    }

    &.ss-button--loader__spinner {
      span {
        border: solid 2px rgba($ss-color--dark, 0.2);
        border-top-color: rgba($ss-color--dark, 1);
        border-left-color: rgba($ss-color--dark, 1);
      }
    }

    &.ss-button--loader__dots {
      span {
        background-color: $ss-color--dark;
      }
    }
  }
}

.ss-button.ss-button__secondary.inverted,
.ss-button.ss-button__sec.inverted {
  @include ss-text__color--light;
  border: thin solid $ss-color--border;

  &:hover,
  &:active,
  &:focus {
    @include ss-text__color--light;
    background-color: darken($ss-color--white, 80%);
  }
}

// .ss-button.ss-button__outline {
//   @include ss-text__color--dark;
//   border: thin solid $ss-color--swing;

//   &:hover,
//   &:active,
//   &:focus {
//     @include ss-text__color--dark;
//     // background-color: lighten($ss-color--env,25%);
//   }

//   svg {
//     stroke: $ss-color--content;
//   }
// }

//icons only buttons in group
.ss-action-button--icons {
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(flex-end);
  @include align-items(center);

  a.ss-button--icon-only,
  button.ss-button--icon-only {
    @include margin(0 0.5em);

    &:last-of-type {
      @include margin(null 0 null null)
    }

    &:first-child {
      @include margin(null null null 0)
    }
  }
}

//Buttons in group

.ss-action-buttons {
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(flex-end);
  @include align-items(center);

  .ss-button,
  .ss-button__text {
    @include margin(0 8px);

    &:last-of-type {
      @include margin(null 0 null null)
    }

    &:first-child {
      @include margin(null null null 0)
    }
  }
}

.ss-button__text {
  @include ss-text__size--h3;
  @include ss-text__weight--regular;
  @include ss-text__color--grey;
  @include inline-flex();
  @include flex-direction(row);
  @include justify-content(flex-start);
  @include align-items(center);
  @include margin(0);
  @include padding(0);
  background-color: $ss-color--white;
  transition: $ss-default-transition;
  border: thin solid transparent;
  position: relative;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: darken($ss-color--chrome, 10%);
  }

  .ss-button--loader {

    &.ss-button--loader__bar {
      display: none;
    }

    &.ss-button--loader__spinner {
      span {
        border: solid 2px rgba($ss-color--dark, 0.2);
        border-top-color: rgba($ss-color--dark, 1);
        border-left-color: rgba($ss-color--dark, 1);
      }
    }

    &.ss-button--loader__dots {
      span {
        background-color: $ss-color--dark;
      }
    }
  }

  &.ss-button__text--disabled {
    pointer-events: none;
    opacity: 0.3;
    cursor: not-allowed;
  }

  &.ss-button__text--dots {
    &:after {
      content: '';
      position: absolute;
      right: -10px;
      top: -6px;
      width: 12px;
      height: 12px;
      background-color: $ss-color--orange;
      border-radius: $border-radius-round;
    }
  }
}

.ss-tab-button {
  display: inline-block;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  @include ss-text__weight--bold;
  @include ss-text__color--dark;
  @include ss-text__size--h4;
  transition: $ss-default-transition;
  opacity: 0.4;
  cursor: pointer;
  position: relative;
  @include padding(1em 0);

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    @include ss-text__color--dark;
    opacity: 1;
  }

  &:after {
    opacity: 0;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: $ss-color--orange;
    transition: $ss-default-transition;
  }

  &.active {
    opacity: 1;
    @include ss-text__color--dark;

    &:after {
      opacity: 1;
    }
  }

  &.ss-tab-button--disabled {
    pointer-events: none;

    .step-indicator,
    .count-indicator {
      background-color: $ss-color--content;
    }
  }

  &.ss-tab-button--completed {
    opacity: 1;
    @include ss-text__color--dark;
  }
}

.ss-button--dropdown {
  position: relative;
  cursor: pointer;
  outline: none;
  @include flex_row;

  .ss-button {
    @include margin(0);
    pointer-events: none;
    border: none;

    &:hover {
      border: none;
    }
  }

  &.ss-button--dropdown__checkbox {
    ul {
      width: 176px;
      max-height: 360px;
      overflow-y: auto;
      @include scrollbar(5px, rgba($ss-color--black, 0.1));
      li {
        @include flex_row;
        @include align-items(flex-start);
        .checkmeout-checkbox {
          pointer-events: none;
          @include margin(0 8px 0 -8px);
        }
      }
    }
  }

  &.ss-button--dropdown__action-btn--wrapper {
    ul {
      @include padding(null null 0);
      .ss-button--dropdown__action-btn {
        @include justify-content(space-between);
        @include align-items(center);
        @include ss-text__color--light;
        background-color: $ss-color--orange;
        @include padding(12px 16px);
        &:hover,
        &:active,
        &:focus {
          background-color: lighten($ss-color--orange, 5%);
        }
      }
    }
  }

  // &:before {
  //     content: '';
  //     display: none;
  //     position: fixed;
  //     left: 0;
  //     top: 0;
  //     width: 100vw;
  //     height: 100vh;
  //     background-color: rgba($ss-color--black, 0.1);
  // }

  ul {
    display: none;
    z-index: 1;
    width: auto;
    min-width: 125px;
    left: auto;
    right: 0;
    top: 102.5%;
    position: absolute;
    background-color: $ss-color--white;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.1);
    border-radius: $border-radius-sm;
    transition: $ss-default-transition;
    @include padding(8px 0);
    @include margin(0);

    li {
      list-style-type: none;
      white-space: nowrap;
      @include ss-text__weight--regular;
      transition: $ss-default-transition;
      @include ss-text__color--grey;
      cursor: pointer;
      @include padding(6px 24px);

      &.disabled {
        cursor: not-allowed;
        color: $ss-color--light-grey;
      }

      a {
        @include ss-text__color--grey;
        width: 100%;
        height: 100%;

        &:hover,
        &:active,
        &:focus {
          @include ss-text__color--grey;
        }
      }

      &:hover {
        background-color: $ss-color--highlight;
      }
    }
  }

  &.ss-button--dropdown--open {

    &:before,
    ul {
      display: block;
    }

    .ss-button {
      opacity: 0.8;
    }
  }

  &.ss-button--dropdown--open-up {
    ul {
      top: auto;
      bottom: 102.5%;
    }
  }

  &.ss-button--dropdown--open,
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.ss-button--loader {
  height: 100%;
  width: 100%;
  border-radius: 2px;
  background-color: inherit;
  position: absolute;
  left: 0;
  top: 0;

  &.ss-button--loader__bar {
    width: 100%;
    height: 100%;
    background-image:
      repeating-linear-gradient(-45deg,
        $ss-color--orange,
        $ss-color--orange 11px,
        lighten($ss-color--orange, 10%) 10px,
        lighten($ss-color--orange, 10%) 20px);
    background-size: 28px 28px;
    animation: loading-bar .5s linear infinite;
  }

  &.ss-button--loader__spinner {
    span {
      width: 16px;
      height: 16px;
      display: block;
      border-radius: 50%;
      border: solid 2px rgba($ss-color--white, 0.2);
      border-top-color: rgba($ss-color--white, 1);
      border-left-color: rgba($ss-color--white, 1);
      animation: loading-bar-spinner 600ms linear infinite;
    }
  }

  &.ss-button--loader__dots {
    span {
      width: 6px;
      height: 6px;
      background-color: $ss-color--white;
      border-radius: 100%;
      display: inline-block;
      -webkit-animation: btn-bouncedelay 1s infinite ease-in-out both;
      animation: btn-bouncedelay 1s infinite ease-in-out both;
      @include margin(0 2px 0 0);

      &:nth-child(1) {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
      }

      &:nth-child(1) {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
      }
    }
  }
}

.count-indicator {
  display: inline-block;
  font-size: inherit;
  background-color: $ss-color--orange;
  border-radius: $border-radius-sm;
  @include ss-text__color--light;
  @include ss-text__weight--regular;
  transition: $ss-default-transition;
  @include padding(2px 6px);
}

.step-indicator {
  display: inline-block;
  font-size: inherit;
  background-color: $ss-color--orange;
  border-radius: $border-radius-round;
  @include ss-text__color--light;
  @include ss-text__weight--regular;
  transition: $ss-default-transition;
  text-align: center;
  @include padding(2px 7px);
}


.ss-button__link {
  @include inline-flex();
  @include flex-direction(row);
  @include justify-content(center);
  @include align-items(center);
  @include ss-text__size--h4;
  @include ss-text__weight--regular;
  cursor: pointer;
  position: relative;
  color: $ss-color--link;
  transition: $ss-default-transition;
  line-height: 1.2;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: darken($ss-color--link, 5%);
    text-decoration: none;
  }

  &.ss-button__mini {
    @include ss-text__size--micro;
  }

  .ss-button--loader {

    background-color: $ss-color--white;

    &.ss-button--loader__bar {
      display: none;
    }

    &.ss-button--loader__spinner {
      span {
        border: solid 2px rgba($ss-color--link, 0.2);
        border-top-color: rgba($ss-color--link, 1);
        border-left-color: rgba($ss-color--link, 1);
      }
    }

    &.ss-button--loader__dots {
      span {
        background-color: $ss-color--link;
      }
    }
  }


  &.ss-button__link--underline {
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }
  }
}


@-webkit-keyframes btn-bouncedelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0)
  }

  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes btn-bouncedelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

@keyframes loading-bar-spinner {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loading-bar {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 28px 0;
  }
}


.ss-button.ss-button__secondary.ss-button__chip {
  background-color: $ss-color--env;
  border: thin solid $ss-color--light-grey;
  color: $ss-color--content;
  font-weight: $font-weight-normal;
  min-width: 148px;
  @include padding(10px 12px);
  @include margin(0 8px 8px 0);
  cursor: default;

  span {
    cursor: pointer;
    line-height: 1;
    float: right;
    @include margin(0 0 0 auto);
    @include padding(0 0 0 8px);
  }
}


@mixin loader__dots--dark {
  span {
    width: 16px;
    height: 16px;
    background-color: $ss-color--dark;
    @include margin(0 2px);
  }
}

.ss-button--float_right {
  float: right;
  @include margin(0 0 0 auto);
}