.ss-file-upload {
  label {
    cursor: pointer;
  }

  input[type=file] {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
}


.ss-image-cropper-wrapper {
  @include align-items(stretch !important);

  .ss-image-cropper-left {
    width: 65%;
    background-color: $ss-color--env;
    @include padding(32px);
  }

  .ss-image-cropper-right {
    width: 35%;
    position: relative;
    @include justify-content(flex-start);
    @include padding(32px);

    img {
      width: 100%;
      border-radius: $border-radius-sm;
    }

    .ss-image-cropper-actions {
      position: absolute;
      bottom: 32px;
      right: 32px;
    }
  }
}
