@mixin ss-form--input {
  height: 40px;
  width: 100%;
  color: $ss-color--black;
  font-weight: $font-weight-normal;
  font-size: 16px;
  line-height: 20px;
  border-radius: $border-radius-sm;
  border: thin solid rgba($ss-color--border, 1);
  resize: none;
  transition: border 0.3s;
  @include padding(0 0.5em);

  @include placeholder {
    color: rgba($ss-color--black, 0.3);
  }

  &:focus {
    border: thin solid rgba($ss-color--chrome, 0.4);
  }
}

@mixin ss-label {
  font-size: 14px;
  color: rgba($ss-color--content, 0.5);
  font-weight: $font-weight-normal;
  line-height: 20px;
  @include margin(0);
  @include padding(0);
}

.ss-nps-input {
  @include ss-form--input();
}

.ss-nps-input__input-box {
  height: 40px;
}

.ss-nps-input__textarea {
  height: 80px;
}


.ss-label {
  @include ss-label();
}

.ss-form--input-group .actions-container {
  float: right;
}

.ss-editable-surveyName {
  .ss-form--input-group {
    @include padding(0);
    @include margin(0);

    .ss-form--input {
      border-color: transparent;
    }
  }
}

.ss-form--input-group {
  width: 100%;
  position: relative;
  @include padding(0 0 16px);
  @include margin(0 0 8px);

  &.ss-form--input-group__no-padding {
    @include padding(0);
  }
  &.ss-form--input-group__no-margin {
    @include margin(0);
  }


  // Autofill Color Override 

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-box-shadow: transparent;
    transition: background-color 5000s ease-in-out 0s;
  }

  .ss-form--input {
    @include ss-form--input();

    &.ss-form--input--mini {
      font-size: 14px;
      height: 32px;
    }

    &.ss-form--input--textarea {
      height: auto;
      min-height: 80px;
      @include padding(8px null);
    }

    &.ss-form--input--error {
      border: thin solid $ss-color--red;
    }

    &.ss-form--input--disabled {
      background-color: $ss-color--env;
      cursor: not-allowed;
      color: rgba($ss-color--black, 0.4);
    }
  }

  .ss-form--error {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 12px;
    color: $ss-color--red;
    font-weight: $font-weight-normal;
  }

  .ss-react-select-container.ss-react-select-container--error {
    .ss-react-select__control {
      border: thin solid $ss-color--red;
    }
  }

  .ss-react-select-container {
    width: 100%;
    font-size: 16px;

    &.ss-react-select-container--mini {
      font-size: 14px;
      .ss-react-select__value-container {
        @include padding(0 8px);
        min-height: 30px;
      }
    }

    &.ss-react-select--is-disabled {
      cursor: not-allowed;
      pointer-events: all;

      .ss-react-select__indicators {
        pointer-events: none;
      }
    }

    .ss-react-select__control.ss-react-select__control--is-disabled {
      background-color: $ss-color--env;
      cursor: not-allowed;
    }

    .ss-react-select__control.ss-react-select__control--is-focused {
      border: thin solid $ss-color--black;
    }

    .ss-react-select__control {
      border: thin solid rgba($ss-color--border, 1);
      border-radius: $border-radius-sm;
      background-color: $ss-color--white;
      min-height: 0;
      box-shadow: none;
      transition: border 0.3s;
    }

    .ss-react-select__value-container {
      @include padding(0 8px);
      min-height: 38px;
    }

    .ss-react-select__placeholder {
      color: rgba($ss-color--black, 0.3);
      font-size: inherit;
    }

    .ss-react-select__input {
      color: rgba($ss-color--black, 1);
      font-size: inherit;
    }

    .ss-react-select__indicator-separator {
      display: none;
    }

    .ss-react-select__indicator {
      @include padding(0 4px 0 0);
      cursor: pointer;
    }

    .ss-react-select__menu {
      border-radius: 0px;
      @include margin(0 0 16px);

      .ss-react-select__menu-list {
        position: relative;
      }

      .ss-react-select__option {
        color: rgba($ss-color--black, 1);
        font-size: inherit;
        cursor: pointer;
      }

      .ss-react-select__option--is-focused {
        background-color: $ss-color--highlight;
      }

      .ss-react-select__option--is-disabled {
        color: rgba($ss-color--black, 0.2);
        cursor: not-allowed;
      }

      .ss-react-select__option--is-selected {
        background-color: $ss-color--content;
        color: $ss-color--white;
      }

      .ss_react-select__fixed-option {
        width: 100%;
        font-size: inherit;
        border-top: 1px solid $ss-color--border;
        @include padding(2px 0);
        cursor: pointer;

        a {
          width: 100%;
          display: inline-block;
          color: $ss-color--link;
          transition: $ss-default-transition;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          @include padding(8px 12px);
        }

        &:hover {
          a {
            color: darken($ss-color--link, 5%);
            text-decoration: none;
          }
        }
      }
    }

    .ss-react-select__multi-value__remove {
      cursor: pointer;
      transition: all 0.3s;
    }
  }

  // &:hover {
  //   a {
  //     z-index: 1;
  //   }
  // }
}

.ss-form--input__label {
  width: 100%;

  label {
    @include ss-label();
  }

  &.ss-form--input__label-mini {
    @include margin(0 0 2px 0);
    label {
      @include ss-text__size--micro;
    }
  }

  .ss-form--input__option {
    @include ss-text__size--h4;
    @include ss-text__weight--regular;
    color: rgba($ss-color--content, 0.5);
    line-height: 20px;
    float: right;
    @include margin(0 0 0 auto);
    @include padding(0 0 0 8px);

    &.ss-form--input__option-mini {
      @include ss-text__size--micro;
    }

    .ss-button__link {
      @include ss-text__size--h4;
    }
  }
}

.ss-form--input__info {
  z-index: 0;
  line-height: 1;
  transition: $ss-default-transition;
  color: rgba($ss-color--content, 0.5);
  outline: none;

  &:hover {
    text-decoration: none;
    color: rgba($ss-color--content, 1);
  }

  &:hover, &:active, &:focus {
    outline: none;
  }

  svg {
    vertical-align: middle;
  }
}
