//utility libraries
$output-bourbon-deprecation-warnings: false;
// @import "../utils/bourbon/bourbon";  

//variables
// @import "../variables";

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }

  100% {
    background-position: 468px 0
  }
}


@mixin animated_skeleton_bg($height: 20px, $width:auto) {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: $ss-color--env;
  background: linear-gradient(to right, $ss-color--env 8%, $ss-color--border 18%, $ss-color--env 33%);
  background-size: 800px 104px;
  height: $height;
  border-radius: $border-radius-lg;

  @if $width {
    width: $width;
  }

  position: relative;
}

.ss-loader__horiz.no-animation {
  @include no-animation();
}

.ss-loader__horiz {
  @include animated_skeleton_bg(100%);
}


$values: 10,
20,
30,
40,
50,
60,
70,
80,
90,
100;

@for $i from 1 through length($values) {
  .ss-loader__horiz--width-#{nth($values, $i)} {
    width: nth($values, $i)#{'%'};
  }

  .ss-loader__horiz--height-#{nth($values, $i)} {
    height: nth($values, $i)#{'px'};
  }
}

.ss-loader__horiz--width-jumbo {
  width: 100%;

}

.ss-loader__horiz--height-jumbo {
  height: 100%;
  min-height: 75vh;
}

.ss-page-loader--dots {
  width: 100%;
  height: 100%;
  position: relative;

  h2 {
    @include padding(0 0 72px);
  }

  .ss-button--loader__dots {
    @include loader__dots--dark;
  }
}

.ss-action-loader--spinner {
  position: relative;

  .ss-button--loader__spinner {
    span {
      border: solid 2px rgba($ss-color--dark, 0.2);
      border-top-color: rgba($ss-color--dark, 1);
      border-left-color: rgba($ss-color--dark, 1);
    }
  }

  &.ss-action-loader--spinner__medium {
    .ss-button--loader__spinner {
      span {
        width: 32px;
        height: 32px;
        border: solid 4px rgba($ss-color--dark, 0.2);
        border-top-color: rgba($ss-color--dark, 1);
        border-left-color: rgba($ss-color--dark, 1);
      }
    }
  }

  &.ss-action-loader--spinner__large {
    .ss-button--loader__spinner {
      span {
        width: 64px;
        height: 64px;
        border: solid 6px rgba($ss-color--dark, 0.2);
        border-top-color: rgba($ss-color--dark, 1);
        border-left-color: rgba($ss-color--dark, 1);
      }
    }
  }

  &.ss-action-loader--spinner__mega {
    .ss-button--loader__spinner {
      span {
        width: 100px;
        height: 100px;
        border: solid 8px rgba($ss-color--dark, 0.2);
        border-top-color: rgba($ss-color--dark, 1);
        border-left-color: rgba($ss-color--dark, 1);
      }
    }
  }
}
