.ss-modal--wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba($ss-color--black, 0.8);
    z-index: 10;
    overflow-y: auto;
    @include flex_row;
    @include justify-content(center);
    @include padding(72px);
    animation: fadeIn 0.3s both;

    &.ss-modal--wrapper__close {
        animation: fadeOut 0.3s both;
    }

    &.ss-modal--wrapper__sm {
        .ss-modal--container {
            width: 40%;
            min-height: 40vh;
        }
    }

    &.ss-modal--wrapper__md {
        .ss-modal--container {
            width: 65%;
            min-height: 65vh;
        }
    }

    &.ss-modal--wrapper__lg {
        .ss-modal--container {
            width: 100%;
            min-height: 100%;
        }
    }

    &.ss-modal--wrapper__full {
        @include padding(0);

        .ss-modal--close-wrapper {
            display: none;
        }

        .ss-modal--container {
            width: 100vw;
            height: 100vh;
            border-radius: 0px;
        }
    }

    .ss-modal--container {
        position: relative;
        background-color: $ss-color--white;
        border-radius: $border-radius-base;
        @include margin(auto);

        &.ss-modal--container__footer {
            @include padding(0 0 112px);
        }

        &.ss-modal--container__loading {
            .ss-button--loader__dots {
                z-index: 1;
                @include loader__dots--dark;
            }
        }

    }

    .ss-modal--header {
        @include padding(48px 48px 32px);
    }

    .ss-modal--footer {
        @include padding(24px 48px 48px);
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
    }

    @include viewport(mob) {
        @include padding(10% 5%);
        z-index: 200; // Temporary

        .ss-modal--container {
            width: 100% !important;
        }
    }
}

.ss-modal--close-wrapper {
    position: absolute;
    right: 16px;
    top: 16px;

    .ss-button.ss-modal--close {
        border-radius: 100%;
        background-color: transparent;
        border: 2px solid $ss-color--light-grey;
        width: 32px;
        height: 32px;
        @include padding(0);
        @include justify-content(center);

        &:hover {
            background-color: $ss-color--light-grey;
        }
    }

    @include viewport(mob) {
        .ss-modal--close-wrapper {
            position: absolute;
            right: 8px;
            top: 8px;
        }
    }
}
