.ss-navbar {
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
    @include padding(20px 32px);
}