.ss-pagination {
    @include flex_row;
  
    h6 {
      @include ss-content-text;
      @include margin(0 12px 0 0);
  
      span {
        color: $ss-color--link;
      }
  
      b,
      span {
        font-weight: $font-weight-semibold;
      }
    }
  
    .ss-pagination-button {
      height: 32px;
      width: 32px;
      border: thin solid $ss-color--chrome;
      border-radius: $border-radius-round;
      transition: $ss-default-transition;
      cursor: pointer;
      @include flex_row;
      @include justify-content(center);
  
      svg {
        path {
          fill: $ss-color--chrome;
          transition: $ss-default-transition;
        }
      }
  
      &:hover {
        border: thin solid $ss-color--content;
        svg {
          path {
            fill: $ss-color--content;
          }
        }
      }
  
      &.ss-pagination-button--disabled {
        opacity: 0.3;
        pointer-events: none;
      }
    }
  }