.ss-panel--configurable {
   font-size: 16px;
   @include flex_column;
   @include justify-content(flex-start);
   @include padding(1.5em);
   @include margin(0 0 1.5em 0);
   background-color: $ss-color--env;
   border-radius: $border-radius-sm;
   border-bottom: thin solid $ss-color--border;

   .ss-panel-configurable--top,
   .ss-panel-configurable--bottom {
      width: 100%;
   }

   .ss-panel-configurable--bottom {
      font-size: 16px;
      animation: smoothSlideInDown 0.5s both;
      @include padding(1.25em 3.2em 0);
   }

   .ss-panel-configurable--top {
      position: relative;
      @include flex_row;
   }

   .ss-panel-configurable-top--left {
      @include flexbox();
      @include flex-direction(row);
      @include justify-content(flex-start);
      @include align-items(center);
      max-width: 85%;

   }

   .ss-panel-configurable-top--right {
      width: 48px;
      position: absolute;
      top: 12px;
      right: 0;
   }
}
