.ss-tab-nav
{
    a.active{
        opacity: 1;
        // border-bottom: 2px solid transparent;
    }
    a{
        color: $ss-color--content;
        font-size: 0.9em;
        text-transform: uppercase;
        @include padding(0.5em 0.5em 1.2em);
        @include margin(0);
        font-weight: $font-weight-bold;
        opacity: 0.5;
        letter-spacing: 0.04em;
        display: inline-block;
        position: relative;

        // border-bottom: 2px solid transparent;

        &:hover,&:focus,&:active{
            text-decoration: none;
        }
    }
}

.ss-tabs-wrapper {
    border-bottom: thin solid $ss-color--border;
    .ss-tab-button {
        &.active {
            &:after {
                background-color: $ss-color--black;
            }
        }
        .step-indicator,
        .count-indicator {
            background-color: $ss-color--chrome;
        }
    }
}




