.ss-table {
  width: 100%;

  thead th,
  tbody tr td {
    min-width: 96px;

    &:first-child {
      min-width: 0;
    }
  }

  thead {
    tr {
      th {
        text-align: left;
        text-transform: uppercase;
        font-size: 12px;
        color: rgba($ss-color--chrome, 0.5);
        font-weight: $font-weight-bold;
        letter-spacing: 0.05em;
        @include user-select(none);
        @include padding(8px 0);

        &:first-child {
          @include padding(8px 0 8px 12px);
        }

        &:last-child {
          @include padding(8px 12px 8px 0);
        }

        &.center {
          text-align: center;
          @include padding(8px 0);
        }
      }
    }
  }

  tbody {
    tr {
      border-bottom: thin solid $ss-color--border;

      &.active {
        background-color: $ss-color--highlight;
      }

      td.select-column {
        overflow: visible;
      }

      td {
        text-align: left;
        color: $ss-color--content;
        font-weight: $font-weight-normal;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        @include padding(14px 12px 14px 0);

        &:first-child {
          @include padding(14px 12px);
        }

        &:last-child {
          @include padding(14px 12px 14px 0);
        }

        &.center {
          text-align: center;
          @include padding(14px 12px 14px 12px);
        }

        .checkmeout-switch {
          vertical-align: middle;
        }

        svg {
          vertical-align: middle;

          &.svg--download {
            @include margin(0 0 0 8px);
          }
        }

        p {
          @include ss-text;
          @include ss-text__size--h3;
        }

        h6 {
          @include ss-text;
          @include ss-text__size--h4;
          @include ss-text__color--grey;
        }
      }
    }
  }
}

.ss-table.ss-table--cursor {
  tr {
    cursor: pointer;

    &:hover {
      background-color: $ss-color--highlight;
      transition: $ss-default-transition;
    }
  }
}

.ss-table.ss-table--centered {

  thead tr th,
  tbody tr td {
    text-align: center;

    &:first-child {
      text-align: left;
    }

    &.left-align {
      text-align: left;
      @include padding(14px 12px 14px 0);
    }
  }

  tbody, thead {
    tr {
      td, th {
        @include padding(14px 12px);

        &:first-child {
          svg {
            @include margin(0 0 0 12px);
          }
        }
      }
    }
  }
}

.ss-table.ss-table--fixed-layout.ss-table--checkbox {
  thead {
    th {
      &:first-child {
        width: 44px;
      }
    }
  }

  tbody {
    tr {
      td {
        &:first-child {
          width: 44px;

          svg {
            @include margin(0);
          }
        }
      }
    }
  }
}

.ss-table.ss-table--fixed-layout {
  table-layout: fixed;
}

.ss-table.ss-table--fixed-height {
  thead {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  tbody {
    display: block;
    max-height: 100%;
    overflow: scroll;

    tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }
  }
}

.ss-table.ss-table--image {
  tbody {
    tr {
      td {
        @include padding(8px 12px 8px 0);

        &:first-child {
          @include padding(8px 12px 8px 12px);
        }

        &:last-child {
          @include padding(8px 12px 8px 0);
        }

        &.center {
          @include padding(8px 12px 8px 12px);
        }
      }
    }
  }
}

.ss-table--collapsable {
  @include margin(0 0 16px 0);

  .ss-table--collapsable__body {
    display: none;
    transition: all 0.3s;

    tr {
      opacity: 0;
      transition: all 0.3s;
    }

    &.ss-table--collapsable__body--open {
      display: table-row-group;

      tr {
        opacity: 1;
      }
    }
  }

  thead {
    background-color: $ss-color--env;
    border: thin solid rgba($ss-color--border, 1);
    cursor: pointer;
    position: relative;

    span.open-icon {
      position: absolute;
      right: 20px;
      top: 20px;
      transition: transform 0.5s;
    }

    span.open-icon.open {
      transform: rotate(90deg);
    }

    .ss-button__mini {
      line-height: 24px;
    }

    tr {
      th {
        text-align: left;
        text-transform: none;
        font-size: 14px;
        color: $ss-color--content;
        font-weight: $font-weight-regular;
        letter-spacing: 0;
        position: relative;
        @include padding(15px 0);

        &:first-child {
          @include padding(15px 0 15px 12px);
        }

        &:last-child {
          @include padding(15px 12px 15px 0);
        }

        &.center {
          text-align: center;
          @include padding(15px 0);
        }
      }
    }
  }

  tr {
    border: thin solid $ss-color--border;

    td {
      b {
        @include margin(0 0 0 10px);
      }

      &:last-child {
        text-align: right;
      }
    }
  }
}

.ss-table--actions {

  th,
  td {
    &:last-of-type {
      min-width: 0;
      width: 104px;
      text-align: center;
      opacity: 0;
    }
  }

  tr {
    &:hover {

      th,
      td {
        &:last-of-type {
          opacity: 1;
        }
      }
    }
  }
}

.ss-table--horiz-scroll {

  //Horizontal Case
  thead,
  tbody {
    tr {

      th,
      td {
        width: 18.5vw;
        max-width: 280px;

        &:first-child {
          min-width: 0;
        }
      }
    }
  }

  //Vertical Case
  thead,
  tbody {
    display: block;
    max-height: 100%;
    overflow: auto;

    tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }
  }

  thead {
    @include scrollbar(0, rgba($ss-color--link, 0.1));
    overflow: hidden;
  }

  tbody {
    @include scrollbar(5px, rgba($ss-color--link, 0.1));
    .ss-table--row__loading {
      @include flex_row;
      td {
        @include inline-flex();
      }
    }
  }
}

//Table Loader
.ss-table {
  tbody {
    .ss-table--row__loading {
      td {
        position: relative;

        .img-container {
          @include animated_skeleton_bg(32px);
          width: 32px;
        }

        &:before {
          @include animated_skeleton_bg(12px);
          content: '';
          border-radius: $border-radius-sm;
          left: 0;
          top: 0;
          bottom: 0;
          position: absolute;
          width: 90%;
          @include margin(auto 0);
        }

        &:nth-child(1) {
          &:before {
            width: 35%;
            right: 0;
            height: 16px;
            @include margin(auto 0 auto 12px);
          }
        }

        &:nth-child(2) {
          &:before {
            display: inline-block;
            width: calc(75% - 32px);
            vertical-align: middle;
            @include margin(auto auto auto 40px);
          }
        }

        &:nth-child(3) {
          &:before {
            width: 80%;
          }
        }

        &:nth-child(4) {
          &:before {
            width: 65%;
          }
        }

        &:nth-child(5),
        &:nth-child(6) {
          &:before {
            width: 50%;
          }
        }
      }

      &:nth-child(4n+0) {
        td {
          &:nth-child(2) {
            &:before {
              width: calc(45% - 32px);
            }
          }

          &:nth-child(3) {
            &:before {
              width: 75%;
            }
          }

          &:nth-child(4) {
            &:before {
              width: 90%;
            }
          }
        }
      }

      &:nth-child(1),
      &:nth-child(4n+1) {
        td {
          &:nth-child(2) {
            &:before {
              width: calc(85% - 32px);
            }
          }

          &:nth-child(3) {
            &:before {
              width: 90%;
            }
          }

          &:nth-child(4) {
            &:before {
              width: 45%;
            }
          }
        }
      }

      &:nth-child(2),
      &:nth-child(4n+2) {
        td {
          &:nth-child(2) {
            &:before {
              width: calc(65% - 32px);
            }
          }

          &:nth-child(3) {
            &:before {
              width: 60%;
            }
          }

          &:nth-child(4) {
            &:before {
              width: 85%;
            }
          }
        }
      }
    }
  }
}

.ss-table, .ss-table--mobile {
  .img-container {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    overflow: hidden;
    background-color: rgba($ss-color--orange, 0.8);
    @include inline-flex();
    @include flex-direction(row);
    @include justify-content(center);
    @include align-items(center);
    @include margin(0 8px 0 0);

    span {
      font-size: 14px;
      color: $ss-color--white;
      font-weight: $font-weight-regular;
    }
  }
}

//Mobile Component
.ss-table--mobile {
  .ss-table-item--mobile {
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
    @include padding(16px);
  }
}