.ss-toastr-container {
    @include flex_row;
    @include justify-content(center);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;

    &.ss-toastr-container--hide {
        animation: fadeOut 0.3s both;
    }

    .ss-toastr {
        background-color: $ss-color--content;
        border-radius: $border-radius-sm;
        @include padding(12px);
        @include margin(-80px auto 0);
        @include flex_row;

        .ss-toastr-emoji {
            img {
                width: 24px;
                height: 24px;
            }

            @include margin(0 8px 0 0);
        }

        .ss-toastr-text {
            color: $ss-color--white;
        }

        &.ss-toastr--error {
            .ss-toastr-text {
                color: $ss-color--red;
            }
        }
    }
}
