@mixin ss-heading-text {
    font-family: $text-font-family;
    font-size: 28px;
    font-weight: $font-weight-semibold;
    color: $ss-color--content;
    @include margin(0);

    @include viewport(tab-min) {
        font-size: 24px;
    }
}

@mixin ss-sub-heading-text {
    font-family: $text-font-family;
    font-size: 24px;
    font-weight: $font-weight-semibold;
    color: $ss-color--content;
    line-height: 1.3;
    @include margin(0);

    @include viewport(tab-min) {
        font-size: 18px;
    }
}

@mixin ss-mini-heading-text {
    font-family: $text-font-family;
    font-size: 20px;
    font-weight: $font-weight-semibold;
    color: $ss-color--content;
    @include margin(0);

    @include viewport(tab-min) {
        font-size: 16px;
    }
}

@mixin ss-content-text {
    font-family: $text-font-family;
    font-weight: $font-weight-normal;
    font-size: 16px;
    color: $ss-color--content;
    line-height: 1.5;
    @include margin(0);

    @include viewport(tab-min) {
        font-size: 14px;
    }

    .ss-button__link {
        font-size: inherit;
    }
}

@mixin ss-content-text--xl {
    font-family: $text-font-family;
    font-weight: $font-weight-normal;
    font-size: 18px;
    color: $ss-color--content;
    line-height: 1.5;
    @include margin(0);

    @include viewport(tab-min) {
        font-size: 16px;
    }
}

.ss-heading-text {
    @include ss-heading-text;
}

.ss-sub-heading-text {
    @include ss-sub-heading-text;
}

.ss-mini-heading-text {
    @include ss-mini-heading-text;
}

.ss-content-text--xl {
    @include ss-content-text--xl;
}

.ss-content-text {
    @include ss-content-text;
}

.ss-plain-text {
    @include padding(0);
    @include margin(0);
}

b {
    font-weight: $font-weight-bold;
}

small {
    font-size: 12px;
}

@mixin ss-text {
    @include margin(0 0);
    font-size: 16px;
    color: $ss-color--content;
    font-weight: $font-weight-regular;
}

@mixin ss-text__size--jumbo {
    font-size: 28px; //28px
}

@mixin ss-text__size--h1 {
    font-size: 24px; //24px
}

@mixin ss-text__size--h2 {
    font-size: 20px; // 20px
}

@mixin ss-text__size--h3 {
    font-size: 16px; // 16px
}

@mixin ss-text__size--h4 {
    font-size: 14px; // 14px
}

@mixin ss-text__size--micro {
    font-size: 12px; // 12px
}

@mixin ss-text__weight--thin {
    font-weight: $font-weight-thin;
}

@mixin ss-text__weight--normal {
    font-weight: $font-weight-normal;
}

@mixin ss-text__weight--regular {
    font-weight: $font-weight-regular;
}

@mixin ss-text__weight--semibold {
    font-weight: $font-weight-semibold;
}

@mixin ss-text__weight--bold {
    font-weight: $font-weight-bold;
}

@mixin ss-text__color--dark {
    color: $ss-color--content;
}

@mixin ss-text__color--grey {
    color: $ss-color--chrome;
}

@mixin ss-text__color--light {
    color: $ss-color--white;
}

@mixin ss-text__color--link {
    color: $ss-color--link;
}

@mixin ss-text__family--sans {
    font-family: $text-font-family;
}

@mixin ss-text__family--serif {
    font-family: $heading-font-family;
}

@mixin ss-text__line-height--normal {
    line-height: 1;
}

@mixin ss-text__line-height--small {
    line-height: 1.2;
}

@mixin ss-text__line-height--medium {
    line-height: 1.4;
}

@mixin ss-text__line-height--large {
    line-height: 1.6;
}

//Text Base class
.ss-text {
    @include ss-text;
}

//Text Sizes classes
.ss-text__size--jumbo {
    @include ss-text__size--jumbo;
}

.ss-text__size--h1 {
    @include ss-text__size--h1;
}

.ss-text__size--h2 {
    @include ss-text__size--h2;
}

.ss-text__size--h3 {
    @include ss-text__size--h3;
}

.ss-text__size--h4 {
    @include ss-text__size--h4;
}

.ss-text__size--micro {
    @include ss-text__size--micro;
}

//Text Weight classes
.ss-text__weight--thin {
    @include ss-text__weight--thin;
}

.ss-text__weight--normal {
    @include ss-text__weight--normal;
}

.ss-text__weight--regular {
    @include ss-text__weight--regular;
}

.ss-text__weight--semibold {
    @include ss-text__weight--semibold;
}

.ss-text__weight--bold {
    @include ss-text__weight--bold;
}

//Text Color classes
.ss-text__color--dark,
.ss-text__color--black {
    @include ss-text__color--dark;
}

.ss-text__color--grey,
.ss-text__color--chrome {
    @include ss-text__color--grey;
}

.ss-text__color--light,
.ss-text__color--white {
    @include ss-text__color--light;
}

.ss-text__color--link,
.ss-text__color--purple {
    @include ss-text__color--link;
}


// Text Familty Classes
.ss-text__family--sans {
    @include ss-text__family--sans;
}

.ss-text__family--serif {
    @include ss-text__family--serif;
}

//Line Height Classes

.ss-text__line-height--normal {
    @include ss-text__line-height--normal;
}

.ss-text__line-height--small {
    @include ss-text__line-height--small;
}

.ss-text__line-height--medium {
    @include ss-text__line-height--medium;
}

.ss-text__line-height--large {
    @include ss-text__line-height--large;
}

.ss-text__align--center {
    text-align: center;
}

.ss-text__align--left {
    text-align: center;
}

.ss-text__align--right {
    text-align: center;
}

.ss-text__transform--uppercase {
    text-transform: uppercase;
}

.ss-text__break-word {
    word-break: break-word;
}

.ss-text__break-all {
    word-break: break-all;
}

.ss-text__overflow-wrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}