.ss-animate--fadeIn {
    animation: fadeIn 0.5s;
}


.ss-animated--underline.active {
    &:before {
        background-color: rgba($ss-color--orange, 1);
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

.ss-animated--underline {
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 4px;
        width: 100%;
        background-color: rgba($ss-color--orange, 1);
        // background-color: red;
        -webkit-transform-origin: bottom right;
        transform-origin: bottom right;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        transition: -webkit-transform .5s ease;
        transition: transform .5s ease;
        transition: transform .5s ease, -webkit-transform .5s ease;
    }
}

@keyframes smoothSlideInDown {
    0% {
        max-height: 0;
        opacity: 0;
    }
    100% {
        max-height: 1000vh;
        opacity: 1;
    }
}
