@mixin user-select($value: text) {
    -webkit-user-select: $value;
    /* Chrome all / Safari all */
    -moz-user-select: $value;
    /* Firefox all */
    -ms-user-select: $value;
    /* IE 10+ */
    user-select: $value;
}


@mixin date-picker-customization {

    .DayPickerNavigation__prev,
    .DayPickerNavigation__next {
        border: none;
    }

    .DayPicker__week-header {
        @include padding(null null 16px);

        ul {
            li {
                font-weight: $font-weight-regular;
                color: $ss-color--light-grey;

                small {
                    font-size: 14px;
                }
            }
        }
    }

    .CalendarMonthGrid {
        .CalendarMonth {
            .CalendarMonth__caption {
                color: $ss-color--chrome;
                @include padding(16px 0 48px);

                strong {
                    font-weight: $font-weight-normal;
                }
            }

            .CalendarDay {
                border: none;
                color: $ss-color--content;
                @include padding(3px);

                button {
                    border-radius: $border-radius-round;
                    font-weight: $font-weight-normal;
                }
            }

            .CalendarDay--hovered,
            .CalendarDay--hovered-span {
                background: transparent;

                button {
                    transition: $ss-default-transition;
                    background-color: rgba($ss-color--link, 0.1);
                }
            }

            .CalendarDay--selected-start,
            .CalendarDay--selected,
            .CalendarDay--selected-span,
            .CalendarDay--selected-end {
                background: transparent;
                color: $ss-color--white;

                button {
                    background-color: $ss-color--link;
                }
            }

            .CalendarDay--blocked {
                color: rgba($ss-color--content, 0.4);

                button {
                    background-color: transparent;
                }
            }
        }
    }
}
