/**
 * Mixin scrollbar
 */

 @mixin allowscroll()
 {
     overflow-y: auto;
     overflow-x: hidden;
 } 
 @mixin scrollbar($size, $primary, $secondary: lighten($primary, 25%)) {
     
   &::-webkit-scrollbar {
         width:  $size;
         height: $size; 
     }
 
     &::-webkit-scrollbar-thumb {
         background: $primary;
     }
 
     &::-webkit-scrollbar-track {
         background: $secondary;
     } 
 }
  
 
 //  Call the scrollbar 
 // @include scrollbar(.5em, tomato);
 