//Border

//Transparent
.border--transparent {
    border: 1px solid transparent;
}

.border-top--transparent {
    border-top: 1px solid transparent;
}

.border-right--transparent {
    border-right: 1px solid transparent;
}

.border-bottom--transparent {
    border-bottom: 1px solid transparent;
}

.border-left--transparent {
    border-left: 1px solid transparent;
}


//Normal
.border {
    border: thin solid $ss-color--border;
}

.border-top {
    border-top: thin solid $ss-color--border;
}

.border-right {
    border-right: thin solid $ss-color--border;
}

.border-bottom {
    border-bottom: thin solid $ss-color--border;
}

.border-left {
    border-left: thin solid $ss-color--border;
}


//Purple
.border--purple {
    border: thin solid $ss-color--link;
}

.border-top--purple {
    border-top: thin solid $ss-color--link;
}

.border-right--purple {
    border-right: thin solid $ss-color--link;
}

.border-bottom--purple {
    border-bottom: thin solid $ss-color--link;
}

.border-left--purple {
    border-left: thin solid $ss-color--link;
}

//Orange
.border--orange {
    border: thin solid $ss-color--orange;
}

.border-top--orange {
    border-top: thin solid $ss-color--orange;
}

.border-right--orange {
    border-right: thin solid $ss-color--orange;
}

.border-bottom--orange {
    border-bottom: thin solid $ss-color--orange;
}

.border-left--orange {
    border-left: thin solid $ss-color--orange;
}

//Zero
.border--zero {
    border: 0;
}

.border-top--zero {
    border-top: 0;
}

.border-right--zero {
    border-right: 0;
}

.border-bottom--zero {
    border-bottom: 0;
}

.border-left--zero {
    border-left: 0;
}

//Background

.background-color--grey {
    background-color: $ss-color--env;
}

.background-color--swing {
    background-color: $ss-color--swing;
}

.background-color--orange {
    background-color: $ss-color--orange;
}

.background-color--yellow {
    background-color: $ss-color--yellow;
}

//Float

.ss-float--right {
    float: right;
    @include margin(null null null auto);
}

//Overflow

.ss-overflow--hidden {
    overflow: hidden;
}

.ss-overflow--auto {
    overflow: auto;
}

.ss-overflow--scroll {
    overflow: scroll;
}

.ss-overflow--visible {
    overflow: visible;
}

//Width & Height 

.fx--fw {
    width: 100%;
}

.fx--fh {
    height: 100%;
}

//Shimmer
.ss-shimmer {
    border: thin solid $ss-color--env !important;
    color: transparent !important;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer !important;
    animation-timing-function: linear;
    background: $ss-color--env;
    background: linear-gradient(to right, $ss-color--env 8%, $ss-color--border 18%, $ss-color--env 33%);
    background-size: 800px 104px;
    background-color: $ss-color--env;
    border-radius: $border-radius-lg;

    * {
        color: transparent !important;
    }

    svg {

        line,
        path {
            stroke: transparent !important;
            fill: transparent !important;
        }
    }
}