// Colors

$ss-color--black: #000;
$ss-color--dark: #1d1e1f;
$ss-color--red: #F86060;
$ss-color--white: #fff;
$ss-color--orange: #E59356;
$ss-color--yellow: #F9D876;
$ss-color--swing: #372459;
$ss-color--purple: #3b215c;
$ss-color--content: #25292D;
$ss-color--chrome: #63686F;
$ss-color--light-grey: #bdbdbd;
$ss-color--env: #F5F5F5;
$ss-color--link: #8D5AAD;
$ss-color--swing-faded: rgba($ss-color--swing, 0.6);
$ss-color--navBar: #554572;
$ss-color--border: #EDEDED;
$ss-color--highlight: #F6F6F6;
$ss-color--blue: #639CEF;


//NPS color: 

$ss-color--nps-green: #8DCD71;
$ss-color--nps-yellow: #FFDB78;
$ss-color--nps-red: #FC9B9C;



// Animations
$ss-default-transition : all 0.3s;

// Font Family

$heading-font-family: 'Source Serif Pro', serif !important;
$text-font-family: 'Source Sans Pro', sans-serif !important;

// Font Weight

$border-radius-base: 5px;
$border-radius-sm: 3px;
$border-radius-lg: 6px;
$border-radius-xl: 8px;
$border-radius-progress: 10px;
$border-radius-card: 16px;
$border-radius-circle: 50%;
$border-radius-round: 100%;

// Font weights

$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-regular: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Heights

$navbar-height: 68px;
$dashboard-header-height: 64px;
$nps-builder-footer-height: 56px;
$mobile-footer-height: 56px;
$right-panel-footer-height: 70px;
$right-panel-header-height: 80px;
$audience-header-height: 50px;
$audience-combined-header-height: 130px;
$reponses-wrapper-height: calc(48px + 64px); // 48 Header + 64 Padding