
.ss-signup-loader-wrapper {
    height: 100vh;
    width: 100%;
    @include align-items(center !important);
  
    h1 {
      color: $ss-color--dark;
      font-weight: $font-weight-thin;
      font-size: 24px;
      @include margin(48px 0 0);
      @include padding(0);
  
      @include viewport(mob) {
        font-size: 18px;
      }
    }
  
    .ss-signup-loader-container {
      position: relative;
      transform: scaleX(-1);
      @include padding(0 5em);
  
      &:before {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -3px;
        content: '';
        height: 3px;
        background-color: $ss-color--dark;
        width: 20px;
        border-radius: $border-radius-round;
        animation: road 2s linear infinite;
        @include margin(0 auto);
  
        @include viewport(mob) {
          height: 2px;
          animation: road-mob 2s linear infinite;
        }
      }
  
      .ss-signup-loader-body {
        position: relative;
        
        @include padding(0 0 1.5em);
  
        @include viewport(mob) {
          @include padding(0 0 1em);
        }
  
        .van--body {
          width: 360px;
          height: 167px;
          @include viewport(mob) {
            width: 240px;
            height: 93px;
          }
        }
  
        .wind {
          position: absolute;
          bottom: 0;
          width: 100px;
          height: 3px;
          background-color: $ss-color--dark;
          border-radius: $border-radius-round;
          animation: air 2s linear infinite;
  
          @include viewport(mob) {
            height: 2px;
          }
  
          &.wind--1 {
            left: 105%;
            top: 3em;
  
            @include viewport(mob) {
              top: 2em;
              left: 102.5%;
            }
          }
  
          &.wind--2 {
            left: 115%;
            top: 4.5em;
  
            @include viewport(mob) {
              left: 110%;
              top: 3em;
            }
          }
  
          &.wind--1,
          &.wind--2 {
            animation: air-1 2s linear infinite;
  
            @include viewport(mob) {
              animation: air-1-mob 2s linear infinite;
            }
          }
  
          &.wind--4 {
            left: 107.5%;
            bottom: 3em;
  
            @include viewport(mob) {
              left: 105%;
            }
          }
  
          &.wind--4 {
            animation: air-2 2s linear infinite;
  
            @include viewport(mob) {
              animation: air-2-mob 2s linear infinite;
            }
          }
        }
  
  
        .air-2 {
          @include margin(1em auto auto);
        }
  
        .cls-1 {
          fill: #fff;
        }
  
        .cls-2 {
          fill: #010101;
        }
  
        .cls-3 {
          fill: #fece1f;
        }
  
        svg {
          animation: jumpy-car 0.5s linear infinite;
        }
      }
  
      .ss-signup-loader-tyre {
        .cls-1 {
          fill: #333;
        }
  
        .cls-2 {
          fill: #010101;
        }
  
        .cls-3 {
          fill: #fff;
        }
  
        svg {
          position: absolute;
          bottom: 0;
          width: 60px;
          height: 60px;
  
          @include viewport(mob) {
            width: 38px;
            height: 38px;
          }
        }
  
        &.ss-signup-loader-tyre--left {
          svg {
            left: 15.8%;
            animation: jumpy-tyre-1 0.5s linear infinite;
          }
        }
  
        &.ss-signup-loader-tyre--right {
          svg {
            right: 14%;
            animation: jumpy-tyre-2 0.5s linear infinite;
          }
        }
      }
    }
  }
  
  
  @keyframes jumpy-car {
    0% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(-5px);
    }
  
    100% {
      transform: translateY(0px)
    }
  }
  
  @keyframes jumpy-tyre-1 {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
      transform: rotate(-180deg);
    }
  
    100% {
      transform: rotate(-360deg);
    }
  }
  
  @keyframes jumpy-tyre-2 {
    0% {
      transform: rotate(180deg);
    }
  
    50% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(-180deg);
    }
  }
  
  @keyframes road {
    0% {
      width: 360px;
    }
  
    50% {
      width: 430px;
    }
  
    100% {
      width: 360px;
    }
  }
  
  @keyframes road-mob {
    0% {
      width: 240px;
    }
  
    50% {
      width: 280px;
    }
  
    100% {
      width: 240px;
    }
  }
  
  @keyframes air-1 {
    0% {
      width: 15px;
    }
  
    50% {
      width: 75px;
    }
  
    100% {
      width: 15px;
    }
  }
  
  @keyframes air-1-mob {
    0% {
      width: 5px;
    }
  
    50% {
      width: 25px;
    }
  
    100% {
      width: 5px;
    }
  }
  
  @keyframes air-2 {
    0% {
      width: 30px;
    }
  
    50% {
      width: 120px;
    }
  
    100% {
      width: 30px;
    }
  }
  
  @keyframes air-2-mob {
    0% {
      width: 10px;
    }
  
    50% {
      width: 50px;
    }
  
    100% {
      width: 10px;
    }
  }
  
  .ss-signup-loader-star {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    @include margin(auto);
    @include padding(0 0 0 18vw);
    animation: rise-up 2s both infinite;

    @include viewport(mob) {
      @include padding(0);
      display: none;
    }
  }
  
  @keyframes rise-up {
    0% {
      transform: translateY(0px);
    }
    25% {
      opacity: 0;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(-240px);
    }
  }
  