@mixin propStyle {
  color: $ss-color--link;
  list-style-type: disc;
  background-color: rgba($ss-color--link, 0.2);
  font-family: $text-font-family;
  @include padding(4px);
  @include margin(0 0 8px);
}

.ss-clib-main-wrapper {
  @include flex_row;
  @include align-items(flex-start);
  overflow: hidden;
  height: 100vh;

  .ss-clib-main-content-wrapper {
    width: calc(100vw - 18vw);

    .ss-clib-main-content-container--demo-wrapper {
      position: relative;
      height: 100vh;
    }

    .ss-clib-main-content-container {
      animation: fadeIn 0.3s both;

      .code-content__header {
        @include padding(24px 32px);
        border-bottom: 1px solid $ss-color--border;

        h1 {
          font-size: 40px;
        }
      }
    }

    .code-content__wrapper {
      @include padding(32px);
      height: calc(100vh - 90px);
      overflow: auto;

      .code-content__section {
        @include margin(0 0 48px);

        .code-content__section-title {
          @include margin(0 0 32px);
        }

        .code-content__reference-block {
          .code-content__reference-item {
            @include margin(0 0 48px);

            p {
              span {
                background-color: $ss-color--env;
                border: thin solid $ss-color--border;
                border-radius: $border-radius-sm;
                color: $ss-color--red;
                @include padding(2px 4px);
                font-family: 'Overpass Mono', monospace;
                white-space: normal;
              }
            }
          }
        }

        .code-content__example {
          .code-content__example-item {
            width: 100%;
            @include margin(null 0);
            .col {
              @include padding(0);
            }
          }
          .code-content__icon-wrapper {
            width: 100px;
            height: 100px;
            border-radius: $border-radius-sm;
            background-color: $ss-color--env;
            @include flexbox();
            @include flex-direction(column);
            @include justify-content(center);
            @include align-items(center);
            @include margin(0 16px 16px 0);
            transition: $ss-default-transition;
            cursor: pointer;

            &:hover {
              background-color: darken($ss-color--env, 5%);
            }
          }
        }
        
        .ss-prop-item {
          @include propStyle;
          display: inline-block;
        }

        ul {
          @include flex_column;
          @include padding(0 0 0 20px);

          li {
            @include propStyle;
            @include ss-text__size--h3;

            a {
              color: $ss-color--link;
              text-decoration: none;
              transition: all 0.3s;

              &:hover {
                color: darken($ss-color--link, 10%);
              }
            }
          }
        }

        .code-content__code-block {
          width: 90%;
          @include margin(24px 0 0);
          
          pre {
            position: relative;

            .ss-button__text {
              position: absolute;
              background-color: transparent;
              top: 8px;
              right: 8px;
              text-decoration: none;
              outline: none;
              opacity: 0.3;

              &:hover {
                opacity: 1
              }
            }
          }

          .hljs {
            @include padding(24px);
            border-radius: $border-radius-sm;
            font-family: 'Overpass Mono', monospace;

            span {
              line-height: 1.4;
              font-family: 'Overpass Mono', monospace;
            }
          }
        }

        &:last-child {
          @include margin(0);
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.ss-clib-modal-content {
  @include padding(0 48px);
  .ss-text__size--h3 {
    line-height: 1.4;
  }
  .modal-form-group {
    @include margin(auto);
    padding: 16px 0 0 0 !important;
    .modal-form-item {
      @include padding(0 8px !important);
    }
  }
}