.utility-preview--container {
    border: 1px solid $ss-color--border;
    background-color: rgba($ss-color--env, 0.3);
    border-radius: $border-radius-sm;
    @include padding(16px);

    .utility-preview--item {
        height: 5rem;

        &.utility-preview--item--dimensions {
            width: 5rem;
        }

        &.utility-preview--item--filled {
            width: 5rem;
            background-color: $ss-color--white;
        }

        &.utility-preview--item--large {
            width: 10rem;
            height: 10rem;
        }

        &.utility-preview--item--fixed_width {
            height: 5rem;
        }

        &.utility-preview--item--fixed_height {
            width: 5rem;
        }
    }
}

.flex-preview--container {
    width: 100%;
    max-height: 200px;
    border: 1px solid $ss-color--border;
    border-radius: $border-radius-sm;
    @include padding(24px);
    overflow: hidden;

    &.flex-preview--container_lg {
        min-height: 200px;
    }

    &.flex-preview--container_align__conents {
        flex-wrap: wrap;
    }

    .flex-preview--item {
        background-color: rgba($ss-color--link, 0.3);
        min-width: 96px;
        min-height: 32px;
        border: 2px solid darken($ss-color--link, 5%);
        border-radius: $border-radius-sm;
        @include margin(0 4px 4px 0);

        &.flex-preview--item__shrink {
            min-width: 25px;
            min-height: 12px;
        }

        &.flex-preview--item__color {
            &:last-child {
                background-color: rgba($ss-color--link, 0.7);
            }
        }
    }
}