.ss-clib-left-sidebar {
    min-width: 18vw;
    height: 100vh;
    background-color: $ss-color--navBar;
    @include flex_column;
    @include justify-content(flex-start);
    @include padding(1.5em 2em 2em);
    overflow-x:hidden;
    overflow-y:auto;


    .ss-clib-sidebar-header {
        width: 100%;
        @include flex_row;
        @include justify-content(center);
        @include margin(0 0 32px);
        a {
            outline: none;
        }
    }

    .ss-clib-sidebar-search-wrapper {
        width: 100%;
        .ss-react-select__single-value {
            line-height: 1.2;
        }
    }

    .ss-clib-sidebar-contents {

        .ss-clib-sidebar-contents-block {
            width: 100%;
        }
        h4 {
            @include ss-mini-heading-text;
            font-family: $heading-font-family;
            color: $ss-color--white;
            @include margin(0 0 16px);
        }
        .ss-clib-sidebar-contents-links {
            @include flex_column;
            @include padding(0 0 16px 8px);
            
            a {
                color: rgba($ss-color--white, 0.6);
                @include margin(0 0 16px);
                text-decoration: none;
                transition: all 0.3s;
                cursor: pointer;
                outline: none;
                &.active {
                    color: $ss-color--white;
                }
                &:hover {
                    color: rgba($ss-color--white, 0.8);
                }
            }
        }
    }
}