// Utils
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Source+Serif+Pro:700|Overpass+Mono&display=swap');
@import 'utils/bourbon/bourbon';
@import 'utils/reset';
@import 'utils/normalize';

// Mixins

@import 'mixins/flex';
@import 'mixins/media_query';
@import 'mixins/mixin';
@import 'mixins/skeleton_placeholder';


// Abstracts
@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/placeholders';

@import 'abstracts/animations';
@import 'abstracts/scroll';

// Vendors
// No vendors so far

// Base
// Using base from boostrap 3.0+ 


//Helpers
@import 'layout/grid';

@import 'abstracts/flex';

// Components
@import 'components/typography';
@import 'components/input';
@import 'components/buttons';
@import 'components/modal';
@import 'components/checkbox';
@import 'components/navbar';
@import 'components/table';
@import 'components/tab';
@import 'components/panel';
@import 'components/toastr';
@import 'components/cropper';
@import 'components/loaders';
@import 'components/pagination';


// Layout

@import 'layout/navigation';
@import 'layout/forms';
@import 'layout/section';
@import 'layout/right_panel';
@import 'layout/spacing';
@import 'layout/wrapper';
@import 'abstracts/utilities';

// Themes
// No theme support

// Pages
@import 'pages/intro';
@import 'pages/overview';
@import 'pages/sidebar';
@import 'pages/preview';


// Themes
// No theme support

body {
    margin: 0;
    font-family: $text-font-family;

    * {
        box-sizing : border-box;
    }
}