$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}





// BREAKPOINTS


// Media Queries Mixins
$mob-479:				479px !default;
$tab-768:				768px !default;
$tab-max1024:			1024px !default;
$desk1200:				1200px !default;
$lap1366:				1366px !default;

@mixin viewport($media) {
	@if $media == lap-top {
		@media screen and (max-width: $lap1366) {
			@content;
		}
	}
	
	@else if $media == desk {
		@media screen and (min-width: $desk1200) {
			@content;
		}
	}
	@else if $media == lap-max {
		@media screen and (max-width: $desk1200 - 1) {
			@content;
		}
	}
	@else if $media == tab-min {
		@media screen and (max-width: $tab-max1024 - 1) {
			@content;
		}
	}

	@else if $media == tab-only {
		@media screen and (min-width: $tab-768) and (max-width: $tab-max1024 - 1) {
			@content;
		}
	}
	@else if $media == lap-only {
		@media screen and (min-width: $tab-max1024) and (max-width: $desk1200 - 1) {
			@content;
		}
	}
	@else if $media == mob {
		@media screen and (max-width: $tab-768 - 1) {
			@content;
		}
	}
	@else if $media == xs-mob {
		@media screen and (max-width: $mob-479) {
			@content;
		}
	}
	
	@else if $media == tab-lap {
		@media screen and (min-width: $tab-768) and (max-width: $desk1200 - 1) {
			@content;
		}
	}
	
}

	@mixin min-max($resMin, $resMax) {
	  @media (min-width: $resMin+px) and (max-width: $resMax+px) {
	    @content;
	  }
	}
	@mixin max($res) {
  @media (max-width: $res+px) {
    @content;
  }
}
@mixin min($res) {
  @media (min-width: $res+px) {
    @content;
  }
}


// Tablet & Portrait 
@mixin tab-portrait {
	@media screen and (min-width: $tab-768) and (max-width: $tab-max1024) and (orientation: portrait) {
		@content;
	}
}

@mixin mob-tab-portrait {
	@media screen and (max-width: $tab-768 - 1), (max-width: $tab-max1024) and (orientation: portrait) {
		@content;
	}
}