@mixin box-shadow($top, $left, $blur, $spread, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $spread $color;
    -moz-box-shadow:inset $top $left $blur $spread $color;
    box-shadow:inset $top $left $blur $spread $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
  }
}

// generic transform
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

//placeholder
@mixin placeholder{
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
  &:-ms-input-placeholder      {@content;}
}

@mixin selection{
  &::selection { @content; }
  &::-moz-selection  { @content; }
}


@mixin checkbox_md(){

.checkbox-material
        {
           .check
            {   width: 15px;
                height: 16px !important;
                border: 2px solid rgba($ss-secondary-color, 0.6);
                &:before{
                    
                    margin-top: -7px;
                    margin-left: 5px;
                }
            }
        }

}



@mixin naked_input(){
  background-color: transparent;
  border: none;
  box-shadow: none;
}




@mixin handleLongText() {
  word-wrap: break-word;
  word-break: break-word;
}

@mixin handle_text_wrap(){

  overflow-wrap: break-word; 
  -ms-word-break: break-all;
  word-break: normal; // For IE. Don't Remove
  word-break: initial; // For Mozilla. Don't Remove
  word-break: break-word;
  word-wrap: break-word;
 
}

//Handle <strong> inside <p>

@mixin handleBoldWords(){
  strong {
    display: inline-block;
  }
}

@mixin browser($browser){

  @if $browser == 'ie' {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      @content; 
    }
	} @else {
    @content;
	}

}




@mixin no-animation(){
  //Removing animation for Safari - Temporary Fix
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;
  /*CSS transforms*/
  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  /*CSS animations*/
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}

@mixin ie_browser_styles {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}



@mixin text_style($font-color:$ss-secondary-color, $font-size:1em,$font-weight:regular,$line-height:1.2) {
 
  color: $font-color;
  font-size: $font-size;
  line-height: $line-height;

  // @include margin(0);
  // @include padding(0);

  @if $font-weight == thin {
		font-weight:$font-weight-thin;
	} @else if $font-weight == normal {
		font-weight:$font-weight-normal;
	} @else if $font-weight == regular {
		font-weight:$font-weight-regular;
	} @else if $font-weight == bold {
		font-weight:$font-weight-bold;
	} @else {
		font-weight:$font-weight;
	}
   
}
 