//utility libraries
$output-bourbon-deprecation-warnings: false;
@import "../utils/bourbon/bourbon";

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}
 

@mixin animated_skeleton_bg($height: 20px, $width:auto) { 
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear; 
    background: #eee;
    background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
    background-size: 800px 104px;
    height: $height;
    @if $width
    {width: $width;}
    position: relative;
}